{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
 {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-error mb-3" role="alert">{{ flashError }}</div>
    {% endfor %} 
<form method="post">
    <div class="row">
        <div class="col-md-6 mx-auto position-relative">
        <h1 class="mt-5 mb-3 text-center">Please sign in</h1>
        <div class="form-groupd">
            <label for="email">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="email" class="form-control" required autofocus>
        </div>
        <p/>
        <div class="form-groupd">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" required>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"><br>
        </div>   
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>  
    #}  
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in
        </button><br>
        <a href="{{ path('app_forgot_password_request' ) }}" class="d-flex flex-row-reverse">Forgot password?</a>
    </form>
    {% if error %}
            <div class="alert alert-success mb-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %} 
            </div>
        </div>
        <p class="mt-4 mb-3 text-center text-muted">Not registered yet? <a href="{{path('app_register')}}">Create an account</a></p>
{% endblock %}
