{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-error mb-3" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-6 mx-auto">
             <h1 class="text-center m-5">Create an account</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
     {#   {{ form_row(registrationForm.agreeTerms) }} #}

        <button type="submit" class="btn btn-primary btn-lg btn-block" >Register</button>
        <p class="mt-5 mb-3 text-center text-mutted">Already have an account? <a href="{{ path('app_login') }}">Log in</a></p>
    {{ form_end(registrationForm) }}
        </div>
    </div>
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-error mb-3" role="alert">{{ flashError }}</div>
    {% endfor %} 
{% endblock %}
