{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
              {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-error" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1 class="mt-5 bm-3 text-center">Reset your password</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Enter your email address and we we will send you a
                link to reset your password.
            </small>
        </div>

        <button class="btn btn-primary">Send password reset email</button>
    {{ form_end(requestForm) }}
        </div>
    </div>
  
{% endblock %}