@import url("https://fonts.googleapis.com/css2?family=Ballet&display=swap");
@import "~bootstrap/scss/bootstrap";
body {
  font-family: "Mukta", sans-serif;
}

.alert {
  padding: 10px;
  color: white;
  text-align: center;
  margin: 0;
  border: none;
  border-radius: 0;

    &.alert-success{
        background-color: green;
    }
    &.alert-error{
        background-color: red;
    }
    &.alert-info{
        background-color: blue;
    }
}


section h1 a{
    color: red;
}
section h1 {
  font-size: 20px;
}

.vich-image {
  .form-check {
    @extend .mt-3;
  }

  img {
    @extend .mb-2;
    @extend .rounded;
    @extend .shadow;
    @extend .img-thumbnail;
  }
}
.recipe img{
  transition: transform 0.3s ease-out;
  &:hover {
    transform: scale(1.075);
  }
}
