 {{ include('layouts/nav.php')}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}      
        {% endblock %}

        {% block javascripts %}
          {{ encore_entry_script_tags('app') }}   
        {% endblock %}

            <link rel="stylesheet" href="{{ asset('build/app.css' )}}">
    </head>
    <body>

        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

            <main role="main" class="container">
                 {% block body %}{% endblock %}
            </main>
         {{ include('layouts/footer.php')}}
    </body>
</html>
