{% extends 'base.html.twig' %}

{% block title 'Add new  recipe' %}

{% block body %}
    <div class="row">
       <div class="col-md-6 mx-auto">
            <h1> Add new  recipe </h1>

            {{ form_start(recipeForm) }}
                {{ form_widget(recipeForm)}}
                <input type="submit" value="Create"  class="btn btn-primary btn-block"/> 
            {{ form_end(recipeForm) }}
       </div> 
    </div>

        
{% endblock %}
