{% extends 'base.html.twig' %}

{% block title recipe.title %}

{% block body %}
	<div class="row">
		<div class="col-md-8 mx-auto">
			<article class="recipe bg-white rounded shadow">
			<h2 class="h4 pt-4 text-center ">
					<a href="{{ url('app_recipes_display', {id: recipe.id}) }}" class="text-secondary text-decoration-none">{{recipe.title}}</a>
				</h2>
				<div class="mw-100 overflow-hidden">
					<a href="{{ url('app_recipes_display', {id: recipe.id}) }}">
						<img src="{{(photo ? vich_uploader_asset(photo, 'imageFile', 'App\\Entity\\Photo') : asset('images/placeholder.jpg')) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ recipe.title }}" class="m-3 mx-auto d-block w-80 rounded-top"/>
					</a>
				</div>
				<div class=" pb-3 text-muted text-center">
				<span>Prep: {{recipe.prepTime}} min.</span>
				<span class="ml-5">Cook: {{recipe.cookTime}} min.</span>
				</div>
				<p class="pl-3 pb-3 text-muted">{{recipe.description}}</p>
				
				<h2 class="m-3 h4 pl-3 pt-3 text-secondary text-decoration-none">Ingredients</h2>
				{% for i in ingredients %}
				<div class="ml-5 text-muted">
					<input type="checkbox" class="form-check-input" id="ingrCheck"
						<label class="form-check-label" for="ingrCheck">{{ i.name }}
						- {{ i.amount }}
						{{ i.measurement }}</label></div></br>
				{% endfor %}
				<h2 class="m-3 h4 pl-3 pt-3 text-secondary text-decoration-none">Steps</h2>
				{% for s in steps %}
					<p class="m-4 text-muted">Step {{ s.number }}: 
						{{ s.instruction }}</p>
				{% endfor %}
				<p class="pl-3 pb-3 text-muted">
					{# <small>Created by: #}
						{# {{ "recipe.username" }}</small> #}
				</p>

				<a href="{{ url('app_recipies_update', {id: recipe.id}) }}" class="m-3 btn btn-light">Update</a>
				<a href="#" onclick="event.preventDefault(); confirm('Are you sure want to delete this recipe?') && document.getElementById('delete').submit();" class="m-3 btn btn-light">Delete</a>
				<form id="delete" action="{{ url('app_recipies_delete', {id: recipe.id}) }}" method="post" style="display:none" ;>
					<input type="hidden" name="csrf_token" value="{{ csrf_token('recipe_delete_' ~ recipe.id) }}">
					<input type="hidden" value="_method" value="DELETE">
				</form>
			<div class="border-top my-3"></div>
			<div class="row">
				<div class="col-md-10 mx-auto">
					<h2 class="m-3 h4 pl-3 text-secondary text-decoration-none">
						Reviews
					</h2>
					{% for r in reviews %}
						<p>{{ r.message }}</p>
						<div class="border-top my-3"></div>
					{% endfor %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 mx-auto">
					{{ form_start(reviewForm) }}
					{{ form_widget(reviewForm)}}
					<input type="submit" value="Add" formnovalidate class="btn btn-primary btn-block"/>
					{{ form_end(reviewForm) }}
				</div>
			</article>
		</div>
	</div>
</div>{% endblock %}
