{% extends 'base.html.twig' %}

{% block title 'Hello recipes' %}

{% block body %}
	{% if recipes|length > 0  %}

		<h1 class=" h4 mb-4 text-center text-muted">
			{{ pluralize(recipes|length, 'Recipe') }}</h1>

		{% for row in recipes|batch(3) %}
			<div class="row mb-5">
				{% for recipe in row %}
					<div class="col-md-4">
						<article class="recipe bg-white rounded shadow">
							<div class="mw-100 overflow-hidden">
								<a href="{{ url('app_recipes_display', {id: recipe.id}) }}">
									<img src="{{(recipe.photo ? vich_uploader_asset(recipe.photo, 'imageFile', 'App\\Entity\\Photo') : asset('images/placeholder.jpg')) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ recipe.title }}" class="w-100 rounded-top"/>
								</a>						
							</div>
							{# <p>{{recipe.id}}</p> #}
							<h2 class="h4 pl-3 pt-3 ">
								<a href="{{ url('app_recipes_display', {id: recipe.id}) }}" class="text-secondary text-decoration-none">{{recipe.title}}</a>
							</h2>
							
							{#} this line for limit 10 letters for description --- |u.truncate(10)}#}
							<p class="pl-3 pb-3 text-muted">{{recipe.description|u.truncate(100, '...', false)}}</p>
							<img src="{{asset('images/rating-stars.png') }}"  height="30"  alt="" class="mb-3 ml-2">
							<p class="pl-3 pb-3 text-muted">
								<small>Created by:
									{{ "recipe.username" }}</small>
							</p>
								
							{# <a href="#" class="m-3 btn btn-danger" onclick="event.preventDefault(); confirm('Are you sure want to delete this recipe?') && document.getElementById('js-recipe-delete-form-{{ recipe.id }}').submit();">Delete</a>

							<form id="js-recipe-delete-form-{{ recipe.id }}" action="{{ path('app_recipies_delete', {id: recipe.id}) }}" method="post" style="display:none" ;>
								<input type="hidden" name="csrf_token" value="{{ csrf_token('recipe_delete_' ~ recipe.id) }}">
								<input type="hidden" value="_method" value="DELETE">
							</form> #}
						</article>
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	{% else %}
		<p class="mt-5 h1 text-center">No recipes yet.
			<a href="{{ path('app_recipe_create') }}">Be the first!</a>
		</p>
	{% endif %}
{% endblock %}
