{% extends 'base.html.twig' %}

{% block title 'Update recipe #'  ~ recipe.id %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>
				Update recipe #{{recipe.id}}</h1>
			{{ form_start(photoForm) }}
			{{ form_widget(photoForm)}}
			{# <input type="submit" value="Update" class="btn btn-primary btn-block"/> #}
			{{ form_end(photoForm) }}

			{{ form_start(recipeForm) }}
			{{ form_widget(recipeForm)}}
			<input type="submit" value="Update" formnovalidate class="btn btn-primary btn-block"/>
			{{ form_end(recipeForm) }}
		</div>
	</div>

{% endblock %}
